body{
    overflow-x: hidden;

}
#img_1{
    filter: brightness(50%);
height: 100px;

  }
#img_2{
    filter: brightness(50%);
    height: 500px;
  }
#img_3{
    filter: brightness(50%);
    height: 500px;
  }